//Colors

$color-primary-light: rgba(255, 239, 55, 1);
$color-primary: rgb(255, 245, 15);
$color-primary-dark: rgb(255, 250, 0);


$color-sec-light: #ffcd67;
$color-sec: rgb(250, 186, 46);
$color-sec-dark: rgb(250, 154, 0);


$color-tertiary-light:#2998ff;
$color-tertiary-dark: #0086f1;

$color-dark-blue:#000c1c;

$color-white:#fff;


$color-grey:#777;
$color-grey-dark: #5d5d5d;
$color-grey-dark1: #434343;
$color-grey-dark2: #0c0c0c;
$color-black:#001;

$color-grey-light:#f7f7f7;
$color-grey-light1: #dbdbdb;
$color-grey-light2: #cecece;
$color-grey-medium: #919191;
$color-grey-light3: #949494;
